extends ../shared/layout

block append content
       #react-app-container

block append scripts 
       script(src="/scripts/react-components-dist/index.bundle.min.js")
       script(src="/scripts/react-components-dist/navbar.bundle.min.js")
       script(src="/scripts/react-components-dist/vendors~index.bundle.min.js")
       script(src="/scripts/react-components-dist/vendors~index~navbar.bundle.min.js")
       script(src="/scripts/react-components-dist/vendors~navbar.bundle.min.js")