extends ../shared/layout    

block append content
    p asdasd
    .login-page-container
        .login-form-container

block append scripts 
       script(src="/scripts/react-components-dist/navbar.bundle.min.js")
       script(src="/scripts/react-components-dist/vendors~index~navbar.bundle.min.js")
       script(src="/scripts/react-components-dist/vendors~navbar.bundle.min.js")